@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&family=Zen+Tokyo+Zoo&display=swap");
:root {
  --primary-background: rgb(84, 67, 107);
  --secondary-background: rgb(113, 239, 163);
  --primary-color: rgb(84, 67, 107);
  --secondary-color: rgb(80, 203, 147);
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--primary-background);
  color: var(--primary-color);
  font-family: "Roboto Mono", monospace;
}
.container {
  display: grid;
  place-items: center;
  margin: auto;
  max-width: 550px;
  min-height: 90vh;
  padding: 20px;
  text-align: center;
}
.card {
  width: 100%;
  background-color: var(--secondary-background);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 5px 5px rgba(80, 203, 147, 0.4), 10px 10px rgba(80, 203, 147, 0.3),
    15px 15px rgba(80, 203, 147, 0.2), 20px 20px rgba(80, 203, 147, 0.1),
    25px 25px rgba(80, 203, 147, 0.05);
}
.card-header {
  display: grid;
  place-items: center;
  padding: 1rem 0;
  border-bottom: 1px dotted var(--primary-background);
  align-items: center;
}
.card-header h1 {
  font-family: "Zen Tokyo Zoo", cursive;
}
.card-header p {
  width: 80%;
  padding: 0.5rem 0;

  font-weight: 400;
}
.card-body {
  padding: 2rem 0;
}
.input-group {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 0.5rem 0;
}
.input-group label {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
}
.input-group input {
  display: block;
  width: 90%;
  margin: 0.75rem 0;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.75rem;
}
.input-group input:focus {
  outline: none;
  border: 2px solid var(--secondary-color);
  border-radius: 0.75rem;
}
.btn {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}
.btn:hover {
  background-color: var(--primary-background);
  color: var(--secondary-color);
}
.hidden {
  display: none;
}
.card-footer {
  border-top: 1px dotted var(--primary-background);
  padding: 0.5rem 0;
}
